input{
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: aliceblue;

}
input ::placeholder{
    color: aliceblue;
}

label{
    color:rgb(167, 185, 201);
}

button {
    background-color:  rgba(62, 33, 141, 0.678);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 2px;
    text-align: center;
    transition: background-color 0.3s ease; 

  }
  
  button:hover {
    background-color: rgb(255, 198, 12);
    color: rgb(79, 42, 165);
  }
  a{
    text-decoration: none;
    transition: color 0.2s ease-in;
    
}
  
a:hover{
    color: rgb(255, 198, 12);

}
.form-container {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    width: 50%;
    height: 50%;
    border-radius: 12px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    
  }
form{
    display: flex;
    flex-direction: column;    
    width:350px;

}
body{
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh; 
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(summer_sky-wallpaper-1600x900.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 100vh;
    align-items: center;
}
p{
    color:aliceblue
}
